table, tr, td {
    border: 0;
    margin: 0;
    padding: 0;
    border-color: #FF0000
    border-collapse: collapse;
    border-spacing: 0px;
}
tr td:nth-child(1) {
    text-align: center;
}
tr a {
    display: block;
    width: 100%;
    height: 100%;
}
th {
    background-color: #CCCCCC;
}
#Status th {
    padding-left: 4px;
    padding-right: 4px;
}
/*
#Status tr td {
    padding-left: 4px;
    padding-right: 4px;
}
*/
#Status tr td span {
    margin-left: 4px;
    margin-right: 4px;
}
#List tr td:hover {
    box-shadow: 0 0 0 2px #DD8888 inset;
}
tr.ZeroFinished, td.ZeroFinished {
    background-color: #DDDDDD;
}
tr.Unfinished, td.Unfinished {
    background-color: #FFFFFF;
}
tr.Finished, td.Finished {
    background-color: #CCEECC;
}
